:root {
	--color-primary-cyan-light: hsl(176, 50%, 47%);
	--color-primary-cyan-dark: hsl(176, 72%, 28%);

	--color-black: hsl(0, 0%, 0%);
	--color-gray-dark: hsl(0, 0%, 48%);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	font: inherit;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	min-height: 100vh;
	font-size: 1.6rem;
	font-family: 'Commissioner', sans-serif;
	background-color: #ddd;
}
/* start hero image with navbar */
.hero {
	height: 40vh;
	width: 100%;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.1)
		),
		url(/images/image-hero-desktop.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 111rem;
	margin: 0 auto;
	padding-top: 5rem;
}

.navigation-box__link:link,
.navigation-box__link:active,
.navigation-box__link:visited {
	text-decoration: none;
	color: #fff;
	padding: 1.5rem 1.5rem;
	transition: color 0.3s;
}

.navigation-box__link:hover {
	color: #ddd;
}
/* end hero image with navbar */

/* start main content section (first box) */

.content {
	position: relative;
	bottom: 7.5rem;
}

.content__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70rem;
	margin: 0 auto;
	margin-bottom: 3rem;
	border-radius: 0.8rem;
	background-color: #fff;
}

.mastercraft-img {
	position: relative;
	top: -2.8rem;
}

.content__heading {
	font-size: 2.8rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: var(--color-black);
}

.content__description {
	color: var(--color-gray-dark);
}

.content__btn-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 4rem 0;
}

.btn {
	border-radius: 50px;
	cursor: pointer;
	border: none;
}

.content__btn-container--btn-green {
	margin-left: 5rem;
	padding: 0 4rem;
	background-color: var(--color-primary-cyan-light);
	color: #fff;
	transition: background-color 0.2s;
}

.content__btn-container--btn-green:hover {
	background-color: var(--color-primary-cyan-dark);
}

.content__btn-container--btn-bookmark {
	display: flex;
	align-items: center;
	background-color: red;
	margin-right: 5rem;
	background-color: #ddd;
	transition: opacity 0.2s;
}

.content__btn-container--btn-bookmark span {
	padding: 0 3rem 0 1.5rem;
	font-weight: 700;
	color: var(--color-gray-dark);
}

.content__btn-container--btn-bookmark:hover {
	opacity: 0.8;
}

.test {
	margin: 0 auto;
	height: 500px;
	width: 500px;
	background-color: red;
}
/* end main content section (first box) */

/* start main content section (second box) */

.content__progress-info {
	display: flex;
	align-items: center;
	width: 100%;
}

.progress-info {
	flex: 0 0 33.3333%;
	margin: 4rem 0;
	padding: 0 4rem;
}

.progress-info:not(:last-of-type) {
	border-right: 1px solid #ddd;
}

.paragraph-bold {
	font-size: 2.8rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.paragraph-classic {
	font-size: 1.3rem;
	color: var(--color-gray-dark);
}

.content__progress-bar {
	position: relative;
	width: 100%;
	padding: 0 4rem 4rem;
}

.progress-bar--green {
	position: relative;
	width: 80%;
	height: 1rem;
	border-radius: 50px;
	background-color: var(--color-primary-cyan-light);
	z-index: 10;
}

.progress-bar--gray {
	position: relative;
	width: 100%;
	height: 1rem;
	top: -1rem;
	border-radius: 50px;
	background-color: #ddd;
}

/* end main content section (second box) */

/* start main content section (third box) */

/* end main content section (third box) */
